{
  "users": [
    {
      "id": 1,
      "email": "user@example.com",
      "user": "username",
      "name": "First Last"
    },
    {
      "email": "user@3example.com",
      "user": "username3",
      "name": "First3 Last3",
      "id": 3
    },
    {
      "email": "user@example.com",
      "user": "username",
      "name": "First Last",
      "id": 4
    }
  ],
  "messages": [],
  "articles": [
    {
      "id": 1,
      "newsTitle": "Dummy News",
      "url": "URL",
      "summary": "Dummy Summary",
      "user_id": 3
    },
    {
      "id": 2,
      "newsTitle": "Dummy News",
      "url": "URL",
      "summary": "Dummy Summary",
      "user_id": 4
    }
  ],
  "friends": [],
  "tasks": [],
  "events": []
}